/************
*   FOOTER  *
************/
.footer{
    box-shadow: var(--color-dark-primary) 0px -2px 12px 3px;
}
.footer .container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer h3{
    color: var(--color-light-primary);
    font-size: var(--font-size-primary);
}
.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 800px;
}
.social-links img{
    height: 40px;
}