/**************
*   PRODUCTS  *
**************/

.products{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/2-products/products-background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.product-container{
    height: 70vh;
    width: 28%;
    background-color: var(--color-light-primary-transparency-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-container:nth-child(even){
    flex-direction: column-reverse;
}
.product-container .product-information{
    height: 50%;
    width: 100%;
    padding: 10%;
}
.product-container .product-image{
    height: 50%;
    width: 100%;
}
.product-container .product-image img{
    height: 100%;
    width: 100%;
}